
.projets{
    //position: relative;
    //top: 1000px;
}

.proj_irrigation{
    background-image: url("./proj_irrigation1.jpg");
}

.proj_autoneumVBA{
    background-image: url("./proj_autoneumVBA1.jpg");
}

.proj_univMaintenance{
    background-image: url("./proj_univMaintenance1.jpg");
}

.proj_linuxdeamon{
    background-image: url("./proj_linuxdeamon.jpg");
}

.proj_Store{
    background-image: url("./proj_Store1.jpg");
}

.proj_thumb{
    width: 310px;
height: 173px;
    border-radius: 4px;
}